[2017-09-28 07:52] NathanaelA opened #1 "Messed up Author info in package.json"
- Package.json has a bogus email address for the author; this messes up author tracking on places like https://plugins.nativescript.rocks  (& probably the new marketplace too)

[2017-09-28 08:01] EddyVerbruggen commented on #1
I should claim "youremail@yourdomain.com" 😄

Thanks, fixed in the next version.

[2017-09-28 08:01] #1 closed

[2017-10-10 10:09] EddyVerbruggen opened #2 "Allow undefined plane material"
In case a user doesn't specify a material for the planes they will no longer be shown (they will be there though). Currently that's not possible (the app crashes).

[2017-10-10 10:11] #2 closed

[2017-12-30 15:39] EddyVerbruggen opened #3 "Allow dragging and rotating objects"

[2018-01-03 11:02] robertjuh opened #4 "Progress? Documentation?"
Hey Eddy, i appreciate your work,

Currently working on an AR project for Android where i have to integrate another THREE.js project into a multiplatform app that preferbly can run as a web app (for my bachelor thesis). Fully web based is technically impossible as far as i know.

Are you planning on integrating the second preview of ARCore? Any progress on this current project?
Is it possible to d

[2018-01-04 01:26] maxkuzmin opened #5 "Capture camera stream"
Hello. We build app like snapchart: we have to capture camera stream, recognize some objects and place virtual objects to particular screen coordinates. We already have code that recognizes objects. Can we capture camera stream using this package now or in the future? Thanks in advance.

[2018-01-12 13:43] tjvantoll opened #6 "Reducing the scale of a 3D model changes its position"
### Which platform(s) does your issue occur on?

iOS. Tested on iPhone 6S and an iPad Pro.

### Please, provide the following version numbers that your issue occurs with:

- CLI: 3.4.0
- Cross-platform modules: 3.4.0
- Runtime(s): 3.4.0
- Plugin(s): nativescript-ar version 0.3.2

### Please, tell us how to recreate the issue in as much detail as possible.

Ok so this one is a bit complex to explai

[2018-01-12 16:06] EddyVerbruggen commented on #6
Thanks for the report, I'll take a look soon.

[2018-02-18 13:49] hamdiwanis opened #7 "load models dynamically"
hello, I wanted to ask if it possible to load models dynamically from an API then be able to use it in the plugin?. and thanks for the plugin, :)

[2018-02-18 14:24] EddyVerbruggen commented on #7
I'd be interested to learn if that's possible in a native iOS AR app. Perhaps some online example can be found? I'd be happy to borrow the implementation details of such an example 😉- didn't Google for it yet.

[2018-03-06 03:41] geoffbullen commented on #4
Keen to know your thoughts/plans regarding android as well.

[2018-03-06 07:05] EddyVerbruggen commented on #4
Google released a 1.0 last week so I'm now trying to integrate that. Progress is slow because I have many other things on my plate. But I am working on it.

[2018-03-15 14:56] robinbonnes commented on #4
Creating apps with ARCore makes more sense now, as they supported more devices in the ARCore Preview 2: https://developers.google.com/ar/discover/#supported_devices

For the developers that want to support even more devices, they can try patch the SDK. However I think it won't be accepted in the Play Store:

- https://github.com/thestr4ng3r/arcore-patch
- https://github.com/tomthecarrot/arcore-for

[2018-03-15 15:05] robinbonnes commented on #7
Would be great if we can use this together with the http.getFile() function: https://docs.nativescript.org/cookbook/http to download and store files in the app folder (https://docs.nativescript.org/api-reference/modules/_file_system_.knownfolders#documents)

Then load the assets from these 'knownfolders'. We can even cache models by checking if they exist before downloading them.

[2018-03-20 20:03] krisidmisso opened #8 "Android support now that ARCore 1.0 is released"
Its more a question than a issue. The ARCore 1.0 is out and they added support down to samsung s7( https://www.blog.google/products/google-vr/announcing-arcore-10-and-new-updates-google-lens/ ). Is there going to be a android support for this plugin soon? I really love AR. Thank you

[2018-03-20 20:09] EddyVerbruggen commented on #8
Yes, I have a local version with ARCore 1.0 working, but it doesn't support a lot of features yet. I hope to be able to find some time to work on this plugin in the near future.

[2018-03-20 20:09] #8 closed

[2018-03-22 01:37] geoffbullen commented on #5
@maxkuzmin did you figure out how to get the camera stream?

[2018-03-22 08:50] EddyVerbruggen opened #9 "Better rotation support"
On iOS we used to set the `rotation` property of the node, but it seems like the proper way to do it is setting the `eulerAngles` property. It behaves a lot more predictable in my experience.

[2018-03-22 08:51] #9 closed

[2018-03-22 09:24] maxkuzmin commented on #5
@geoffbullen it seems there is not easy way to solve it using native script. I decided to use React Native.

[2018-03-22 10:42] EddyVerbruggen commented on #5
@geoffbullen I'm not entirey sure what you're after. With requests like these, it's very helpful if you could Google how to do this in a native iOS project with ARKit. Perhaps there's a demo somewhere of what you want to achieve, or (even better) some sample code that I can take a look at.

[2018-03-22 10:54] EddyVerbruggen commented on #7
@robinbonnes I think handling it in NativeScript is the easy part, but if ARKit doesn't support models being loaded dynamically (as opposed from the shipped bundle) then we can't do it in NativeScript either. So if anyone can find a way (tutorial/code sample/SO answer) how to dynamically load a modal, please reopen this issue.

[2018-03-22 10:54] #7 closed

[2018-03-22 13:22] robinbonnes commented on #7
@EddyVerbruggen What about this? https://the-nerd.be/2014/11/07/dynamically-load-collada-files-in-scenekit-at-runtime/

Steps he made it work:

- Convert object to scnasset in XCode
- Upload scnasset file to server
- Download scnasset in app
- Use SCNSceneSource to read the downloaded asset (https://developer.apple.com/documentation/scenekit/scnscenesource)

Example:

[code]
- Pass it to addModel(

[2018-03-22 13:36] robinbonnes commented on #7
I can try to set up a public API to convert any 3D model (fbx, obj, dae) to .scn by using XCode's scntool converter on Mac.

EDIT:

Made some fast example, didn't test it.

Webserver:
[code]

convert_to_scn.php: Converter on Mac example (needs wamp server with PHP and port 80 open):

[code]

If .dae could be avoided, an alternative would be: https://github.com/eugenebokhan/AssetImportKit/blob/mast

[2018-03-22 16:46] EddyVerbruggen commented on #7
@robinbonnes That sounds great! I can handle the {N} plugin part.

[2018-03-22 23:43] geoffbullen commented on #5
Thanks @EddyVerbruggen.   Right now, I have some opencv based object detection code.   I'd like to write a nativescript app (supporting android too eventually) that processes the camera video, uses opencv to detect stuff, and then overlays an AR experience.

And, I came across this - https://medium.com/@BienThere/combining-arkit-and-opencv-5c010b268a45 and was exploring whether this would help me.

[2018-04-09 07:52] EddyVerbruggen opened #10 "Bump ARCore to 1.1"
ARCore 1.1 has been released. Let's upgrade this puppy 🐶

[2018-04-14 16:33] Universi opened #11 "Animated Models ?"
Hi @EddyVerbruggen,

Thank you for this awesome plugin !

Is it already possible to display animated models with it?

Thanks

[2018-04-16 07:25] EddyVerbruggen commented on #11
Hi @Universi,

Can you perhaps share a (link to) animated model for me to test this with?

Cheers,
Eddy

[2018-04-16 08:32] Universi commented on #11
Hi @EddyVerbruggen,

Here is one with .dae format : https://drive.google.com/open?id=1kA92r5tiYWhqpdmo7JLzi-eA5ozacUAZ

Best regards,

[2018-05-04 09:45] adam-ali opened #12 "Get coordinates when object tapped"
Hi Eddy

Is it possible to get the coordinates of where an object was Tapped or longPressed ?

Thanks

[2018-05-04 14:23] EddyVerbruggen commented on #12
You mean it works for boxes added to planes, but not for other geometry/models? If that's the case then indeed, there seems to be an issue with those events not firing.

[2018-05-04 16:29] EddyVerbruggen opened #13 "Add a Flashlight toggle to the demo"
When it's dark it's a bit hard to track surfaces. Let's add a flashlight toggle to fix that.

[2018-05-04 16:34] #13 closed

[2018-05-08 10:03] adam-ali commented on #12
well for me the onTap event didn't fire for boxes too, the longPressed event did work for me however it was only when i added a childNodeName to the model without this the longPressed didnt work too

[2018-05-08 10:27] EddyVerbruggen commented on #12
Interesting observation on the longpress. I'll look into that.

Note that the tap events will work just fine with 0.5.0.

[2018-05-08 14:03] adam-ali commented on #12
what I also wanted to ask was if is it possible to get the exact coordinates of the objects where it was tapped so I can use these coordinates to create a new object

[2018-05-08 14:09] EddyVerbruggen commented on #12
Sorry, I didn't answer that indeed. At the moment you'll get the object back, but I can also probably send the tap coordinates. That would break the API a bit so I'll have to think about it a little. Reopening.

[2018-06-22 13:43] EddyVerbruggen commented on #5
With ARKit there's an option to grab a screenshot. I haven't seen a function to grab the camera stream, but for detecting stuff in images it may be sufficient so I'm going to implement that for now.

[2018-06-22 13:49] #5 closed

[2018-09-07 10:09] gimox opened #14 "npm publish new version (0.5) with grabScreenshot"
Please publish new version (0.5) with grabScreenshot function! last npm is 0.4

### If the demo apps cannot help and there is no issue for your problem, tell us about it
grabScreenshot not working

### Which platform(s) does your issue occur on?
- iOS

[2018-09-07 13:45] gimox commented on #14
travis build still failed (70.3)
[code]

[2018-09-11 21:29] gimox commented on #14
@EddyVerbruggen After analyzing travis log i can able to riproduce the problem. fail is related to packaging-lock.json and nodejs version, upgrade node to 8 in travis config  or delete package-lock.json to solve it. ( delete package-lock.json is the sale way)

[2018-09-21 12:38] EddyVerbruggen opened #17 "iOS: Add image tracking and moveBy & rotateBy functions that can be invoked on objects"
ARKit 2 / iOS 12 has very cool image tracking capabilities. You can detect a know image and stick AR objects to its surface when detected in the scene.

Also, when an object is detected or added, the callback that returns a the objects should have methods to rotate and move the object, to make it more interactive.

[2018-09-21 12:50] #17 closed

[2018-09-24 06:21] EddyVerbruggen commented on #12
With 0.5.0 you'll get the x and y screen coordinates in the `onTap` and `onLongPress` callbacks. Demo and docs have been updated accordingly.

[2018-09-24 06:42] #10 closed

[2018-09-24 06:44] EddyVerbruggen commented on #14
0.5.0 is now released, which also includes the iOS 12 'Image tracking' feature. See the update demo for an example (also includes a screengrab example).

Note that I don't worry too much about travis builds failing as I know it's not related to the plugin's code. That being said: I'd love to see it fixed.

[2018-09-24 06:44] #14 closed

[2018-09-28 08:36] EddyVerbruggen opened #18 "iOS: Add Face Tracking"
This is a new feature in iOS 12: you can track 1 face at a time and get back a ton of properties.

[2018-09-28 08:47] #18 closed

[2018-09-28 08:47] EddyVerbruggen commented on #18
See the updated [docs](https://github.com/EddyVerbruggen/nativescript-ar/blob/master/docs/tag-properties.md#ar-view-tag-option) and [demo](https://github.com/EddyVerbruggen/nativescript-ar/blob/d02d242edb36eb908f48c2f6b188648f9309bc2e/demo/app/main-page.xml#L6).

[2018-12-20 12:57] peterugah commented on #8
Please, I really look forward to ARCore support for nativescript.

[2018-12-26 12:20] ebellumat opened #19 "NativeScript Vue Sample?"
Any plan to create a demo in NativeScript-Vue version? If not, i can convert?

[2018-12-26 12:30] EddyVerbruggen commented on #19
Not really, but it's not too different from [the Angular docs](https://github.com/EddyVerbruggen/nativescript-ar/blob/master/docs/ar-angular.md). I can add a bit of documentation for Vue.

[2019-01-20 15:55] ebellumat commented on #19
Im Trying to run this plugin a Vue, but, he asked for the permission, I accept, but the AR Camera does not Start. The log show's me someting, but i cant identify the problem. I Putied the log on pastebin.

- [THE LOG](https://pastebin.com/3V6uQsVA)

- The Vue file.
[code]

- The main.js file

[code]

[2019-01-20 16:10] EddyVerbruggen commented on #19
Try assigning a height and width to the AR view tag. Otherwise, share a repo and I may take a look.

[2019-01-20 16:25] ebellumat commented on #19
Oh, Thanks! Here is the repo [Ar-Native](https://github.com/ebellumat/ar-native), and the [Invite](https://github.com/ebellumat/ar-native/invitations)

[2019-01-20 17:06] ebellumat commented on #19
This part on the log call me attention.

```CONSOLE ERROR file:///app/vendor.js:4915:20: [Vue warn]: Error in nextTick: "TypeError: undefined is not an object (evaluating'this.nativeView.addSubview')" ```

I'm Creating this sample to present NativeScript on [Vue MeetUp in Vitoria](https://www.meetup.com/pt-BR/Vue-js-in-Vix/events/257782181/), in Brazil, next tuesday

[2019-01-20 18:00] ebellumat commented on #19
Following this tutorial for Angular, i got the same error. I'm using iOS 12.1.2.

[Getting Started with Augmented Reality in NativeScript
](https://www.nativescript.org/blog/getting-started-with-augmented-reality-in-nativescript)

`file:///app/tns_modules/nativescript-ar/ar.js:164:24: JS ERROR TypeError: undefined is not an object (evaluating 'this.nativeView.addSubview')`

`*** Terminating app du

[2019-01-20 18:09] ebellumat opened #20 "The plugin doesn't Work on ios 12.1.2"
Following this tutorial for Angular, i got this I'm using iOS 12.1.2.

[Getting Started with Augmented Reality in NativeScript
](https://www.nativescript.org/blog/getting-started-with-augmented-reality-in-nativescript)

`file:///app/tns_modules/nativescript-ar/ar.js:164:24: JS ERROR TypeError: undefined is not an object (evaluating 'this.nativeView.addSubview')`

`*** Terminating app due to uncaug

[2019-01-20 18:34] EddyVerbruggen commented on #20
Without looking at the code (yet) it’s probably because of a change in NativeScript 5, and the tutorial (and plugin demo) are NativeScript 4. Should be an easy fix in the plugin though.

[2019-01-20 18:36] ebellumat commented on #20
Its possible to do a downgrade my nativeScript version to test? =)

[2019-01-22 14:18] EddyVerbruggen commented on #20
Indeed NativeScript 5 was the issue. The plugin is now compatibile with 5. Available on npm now (0.6.2).

[2019-01-22 14:18] #20 closed

[2019-01-22 14:19] EddyVerbruggen commented on #19
Hey @ebellumat, I just released 0.6.2 which should fix that issue. It was an incompatibility with NativeScript 5 (4 worked).

[2019-01-22 14:19] #19 closed

[2019-01-22 14:30] ebellumat commented on #20
Thanks @EddyVerbruggen .

[2019-02-08 12:40] EddyVerbruggen opened #21 "Android gradle: replace 'compile' with 'implementation'"
Per Google's guidelines

[2019-02-08 12:41] #21 closed

[2019-03-07 05:48] nickolanack opened #22 "Just a question for ar in android."
Have you (or anyone) successfully rendered a model on a surface plane in android (ie andy.obj)?
Just wondering because I know android is not as high of a priority as ios, but the method addModel is implemented...

[2019-03-07 17:50] #22 closed

[2019-03-18 18:55] EddyVerbruggen opened #23 "Allow attaching 3D elements to the head in Face Tracking mode"
Scenario: an app that allows users to try on glasses (3D models of glasses, that is).

[2019-03-18 19:00] EddyVerbruggen commented on #23
Docs & demo updated accordingly.

[2019-03-18 19:00] #23 closed

[2019-03-20 11:25] shubhamgithub1 opened #24 "when your app will support android devices?"

[2019-03-28 10:29] sajjaphani opened #25 "Enable ARCore - AR Required or AR Optional"
As per [ARCore](https://developers.google.com/ar/develop/java/enable-arcore), ARCore can be added as AR Required or AR Optional.

The problem is, if I add the nativescript-ar plugin, it fails to build it on Android where minSdk < 24 and resulting into below exception.

Execution failed for task ':app:processDebugManifest'.

        Suggestion: use a compatible library with a minSdk of at most 17,

[2019-03-31 14:56] sebirkli opened #27 "JavaScript Error (evaluating 'faceGeometry.firstMaterial')"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
I have installed the npm version 0.7.1 and followed https://github.com/EddyVerbruggen/nativescript-ar/blob/master/docs/ar-angular.md

I can install and start and for some seconds all works fine till I get this error:

***** Fatal JavaScript exception - application has been terminated. *****
Native stack trace

[2019-03-31 15:00] EddyVerbruggen commented on #27
That doesn't sound good. Let me take a look!

[2019-03-31 15:06] sebirkli commented on #27
If I try the version 0.6.2. (https://github.com/EddyVerbruggen/nativescript-ar/issues/20) it works fine.

[2019-03-31 15:07] EddyVerbruggen commented on #27
@sebirkli Sure, because the 'face' stuff was added in 0.7.0. Can you share the exact XML/HTML markup you're using to trigger this? I can't break it yet.

[2019-03-31 15:08] sebirkli commented on #27
`<ActionBar title="NativeScript AR"></ActionBar>
<GridLayout rows="auto, *" class="page">
  <Label row="0"></Label>
  <AR
    row="1"
    debugLevel="FEATURE_POINTS"
    trackingMode="WORLD"
    detectPlanes="true"
    showStatistics="true"
    [planeMaterial]="planeMaterial"
    (planeTapped)="planeTapped($event)">

  </AR>
</GridLayout>`

[2019-03-31 15:11] sebirkli commented on #27
`import { Component, OnInit } from '@angular/core';
import { AR, ARMaterial, ARPlaneTappedEventData } from "nativescript-ar";
import { Color } from "tns-core-modules/color";

import { registerElement } from "nativescript-angular/element-registry";
registerElement("AR", () => require("nativescript-ar").AR);

@Component({
  selector: 'ns-ar',
  templateUrl: './ar.component.html',
  styleUrls: ['./ar

[2019-03-31 15:11] EddyVerbruggen commented on #27
And which device are you running on? Perhaps it's because iPhone X (my test device) has the 'true depth' camera for face tracking, and yours doesn't.

[2019-03-31 15:12] sebirkli commented on #27
iPhone 7

[2019-03-31 15:14] sebirkli commented on #27
Hm but why it uses this functionality if I didnt set it? I thought it will be used only if "FACE" is set for trackingMode.

[2019-03-31 17:00] EddyVerbruggen commented on #27
That's why I've flagged this as a bug.

[2019-03-31 17:22] EddyVerbruggen commented on #27
0.7.2 is now on npm.

[2019-03-31 17:22] #27 closed

[2019-03-31 18:43] sebirkli commented on #27
@EddyVerbruggen Thx for that very fast fix. I will have a try later.

[2019-04-23 11:53] tomo54321 commented on #25
Hey @sajjaphani,

I haven't tested this myself but just an idea that's worth a try in case you haven't figured it out yet.

In your `AndroidManifest.xml` add `xmlns:tools="http://schemas.android.com/tools"` to your manifest element and `<uses-sdk tools:overrideLibrary="org.nativescript.tns.arlib"/>` underneath, this is so you can bypass the minimum sdk set within the library.
Next, within a page y

[2019-04-25 21:10] EddyVerbruggen opened #28 "Switching between models may crash ARKit"
Seems like there are a few warnings that can be fixed, and those *may* fix a crash I've been seeing.

[2019-04-25 21:11] #28 closed

[2019-05-02 10:56] ventsislav-georgiev opened #29 "How to load models dynamically?"
I've tried using the experimental `ARModel` from https://github.com/EddyVerbruggen/nativescript-ar/issues/7 and also to convert the **.dae** file to **.scn** but the code does not work.

[code]
The above code always returns null for the `modelScene` and there is no error thrown.

[2019-05-14 14:44] enfralys opened #30 "Error: Uncaught (in promise): Method not implemented: addSphere"
I using this in android S8+ why i dont cant add any models.

[2019-06-07 11:01] EddyVerbruggen opened #31 "Add 📹videorecorder, so you can easily share your awesome AR experience"
Got most of the code for this by email from @Emanuele-Fortunati 💙

[2019-06-07 13:12] Emanuele-Fortunati commented on #31
@EddyVerbruggen My pleasure :) Cannot wait to see the code merged in!

[2019-06-07 15:40] EddyVerbruggen commented on #31
Version 0.8.1 is now available on npm!

I've changed the API a little, so make sure to check [this example for playing a video](https://github.com/EddyVerbruggen/nativescript-ar/blob/a9a0b9e4abcf2f66f16f584eaa754a16fc219d65/demo/app/main-page.ts#L240-L250), and [this example](https://github.com/EddyVerbruggen/nativescript-ar/blob/934cf20958226561dbb8a52deba6074da3f9e451/demo/app/main-view-model.ts

[2019-06-07 15:40] #31 closed

[2019-06-17 11:40] lee-devopa commented on #4
What's the progress on this? Looks really interesting just a shame the android support is lacking

[2019-06-24 09:39] EddyVerbruggen opened #32 "Support AndroidX"
{N} 6 uses AndroidX.

[2019-06-26 11:11] aaweb opened #33 "`Can't find variable: RecordAR` following tutorial"
Following the tutorial on https://www.nativescript.org/blog/getting-started-with-augmented-reality-in-nativescript, I get stuck after running `tns plugin add nativescript-ar` and editing `app/home/home.component.ts`.

I am getting the following error:
[code]

- tns version: 5.4.2
- tns-core-modules@~5.4.0

Any help much appreciated!

[2019-06-26 11:54] EddyVerbruggen commented on #33
I guess that’s a native class added in a recent update.

Does it help to remove your platforms/ios folder and build again?

[2019-06-26 13:24] aaweb commented on #33
Thanks for your reply, Eddy (big fan of your work btw).

I tried removing platforms/ios and rerunning `tns run ios`, but same result.

I tried to start over from scratch as well and getting this error now. Not quite sure which one comes first:
[code]

[2019-06-26 13:29] EddyVerbruggen commented on #33
Did you try running `pod repo update`?

[2019-06-26 13:41] aaweb commented on #33
That did the trick. Thanks a lot!

[2019-06-26 13:41] #33 closed

[2019-06-26 13:47] aaweb opened #34 "Stuck at initial camera image after launch"
Again, following the tutorial, the app now opens but all I get is the first image rendered, it then doesn't refresh and the app almost feels stuck.

The logs seem ok though:

[code]

[2019-06-26 13:59] EddyVerbruggen commented on #34
Can you share a repo so I can take a look? Please use Github, no zipfile emailing plz ;)

[2019-06-26 14:33] aaweb commented on #34
Funnily enough, after switching to another app and back, camera starts refreshing. However, plane and point detection isn't working.

I tried to go into the demo folder to run `tns run ios` from there, but I also get errors there :(
![image](https://user-images.githubusercontent.com/121862/60188727-1209e000-9830-11e9-9c60-7013a93c16bf.png)

[2019-06-29 13:01] MentalGear commented on #29
Would also be very interested in loading dynamically, like swapping models in and out with a fade animation.
I have also been wondering if vertical plane detection animations work ?

[2019-07-08 08:31] MentalGear opened #35 "Add to Startup Doc"
You might want to link this article to the docs, as it is great for beginners:
https://market.nativescript.org/plugins/nativescript-ar

[2019-07-08 08:35] EddyVerbruggen commented on #35
That's literally [the README.md](https://github.com/EddyVerbruggen/nativescript-ar#nativescript-augmented-reality) in this repo 😉

[2019-07-08 08:35] #35 closed

[2019-07-08 08:39] MentalGear commented on #35
Sorry dude, I meant to link to this article from TJ:
https://www.nativescript.org/blog/getting-started-with-augmented-reality-in-nativescript

[2019-07-08 08:43] EddyVerbruggen commented on #35
Lol, I'll add it to the readme, thx!

[2019-07-08 08:48] MentalGear commented on #35
Thx for your quick reply and the work on this, Eddy !

[2019-07-11 10:20] Emanuele-Fortunati commented on #4
@EddyVerbruggen hey Eddy hows going with Android support? The latest ARCore supports many more features and devices, so it would make sense to bring more stuff into the plugin too. I'm happy to contribute, I'd need the original java files though. Please let me know.

[2019-07-26 23:26] nickolanack commented on #32
I think the permissions in nativescript-ar/ar.android.js need to be updated to support androidx
android.support.v4 should be global.androidx.core if using androidx

i can pr if you like, but here is the changes i made to get to ar without crashing using nativescript 6
this is code copied from nativescript-permissions
[code]

[2019-07-31 16:53] nericode commented on #32
Thanks for the plugin, but I'm missing ContextCompat here: https://github.com/EddyVerbruggen/nativescript-ar/blob/025a75df0ce323455a21cb8a7da7e2f699ce5179/src/ar.android.ts#L84

[2019-08-10 09:26] sylwesterdigital opened #36 "Vuejs support"
I tried to run demo app but seems to me not compatible with the latest CLI and Webpack.
I tried migration first:
```$ tns migrate``` and then ```$ tns run ios```
but failed
[code]
Can you update your repo for VueJS? Ta

[2019-08-10 09:54] sylwesterdigital commented on #34
My git repo: https://github.com/sylwesterdigital/nativescript-ar-test.git

I had the same problem - I have created clean app following instruction from this tutorial by TJ VanToll [AR App](https://www.nativescript.org/blog/getting-started-with-augmented-reality-in-nativescript) ie
[code]
I have changed component from
app/home/home.component.ts
[code]
I have downloaded and copied Models.scnassets t

[2019-08-11 13:50] EddyVerbruggen commented on #32
Working on it..

[2019-08-12 12:36] EddyVerbruggen opened #37 "Replace our custom Android lib (using ARCore) by Sceneform (and get the Android impl on par with iOS)"
[Sceneform](https://developers.google.com/ar/develop/java/sceneform/) is a relatively new abstraction layer on top of ARCore. It doesn't require (plugin) developers to directly interact with OpenGL, which I needed to do previously (hence the embedded custom native library I created).

This hampered progress enormously because of the long development-build-test cycle it caused.

With Sceneform the

[2019-08-12 12:37] EddyVerbruggen commented on #37
Also, let's bump the demo to NativeScript 6.

[2019-08-12 12:51] EddyVerbruggen commented on #32
Obsolete because of #37

[2019-08-12 12:51] #32 closed

[2019-08-12 18:47] nickolanack commented on #37
awesome work!!!
- I've updated my fork with this, and implemented the addSphere method.

I was also wondering if it makes sense to use a single origin anchor for new items (I believe it is more efficient to share anchors if possible) unless they are attached to a surface anchor... thoughts?

I was hoping to support options.parentNode for add* which would make sense in the solar system example for

[2019-08-12 19:17] EddyVerbruggen commented on #37
Hey @nickolanack, really happy with your contributions and ideas!

Please go ahead and try a few things, and once you're happy feel free to create a PR from your fork or push directly to master (make sure you don't break backward compatibility for iOS).

Regarding an ARUIView: I was thinking the same and experimented with it on Android last weekend. It seemed to work, but was a bit hacky. And I wo

[2019-08-13 00:55] nickolanack commented on #37
I've also created branches for addTube (although it is just a cylinder)
and a branch for addUIView which will display nativescript ui content although at the moment just Hello World text

I don't want to PR any more until you've had a chance to review the current PR and make sure I'm not going off in the wrong direction...

I also need to get my hands on an iphone to work on addUIView for ios

[2019-08-13 10:07] EddyVerbruggen commented on #36
I'll add a Vue demo, but I've also migrated the TS demo in this repo to NativeScript 6. So maybe that helps.

[2019-08-13 10:07] #36 closed

[2019-08-13 20:35] EddyVerbruggen opened #41 "Add a SolarSystem demo, in NativeScript-Vue"
Try to replicate the [Android Solar system demo](https://github.com/google-ar/sceneform-android-sdk/tree/master/samples/solarsystem) for iOS and Android in NativeScript.

And we need a Vue demo as well, so that seems like a good opportunity.

[2019-08-13 20:37] EddyVerbruggen commented on #41
Added scaffolding - no implementation yet.

[2019-08-13 21:05] nickolanack commented on #41
for the controls panel in solarsystem, (ie adUIView) it would be nice to have a faceCamera/lookAt method although all nodes would benefit from this

[2019-08-14 19:38] WackyJack commented on #34
I'm having the same issue and I haven't figured out how to fix it yet have you?

[2019-08-14 19:41] WackyJack commented on #34
My camera freezes doesn't render video to my phone but still sees the environment around it and I'm seeing in console its detecting the flat planes and even when my camera isn't frozen it doesn't display the dots or the transparent box

[2019-08-14 19:45] WackyJack commented on #41
My camera freezes doesn't render video to my phone but still sees the environment around it and I'm seeing in console its detecting the flat planes and even when my camera isn't frozen it doesn't display the dots or the transparent box.

[2019-08-14 19:46] WackyJack commented on #41
Hello I'm having a issue that doesn't relate to yours at all its about Nativescript ARkit and My camera freezes doesn't render video to my phone but still sees the environment around it and I'm seeing in console its detecting the flat planes and even when my camera isn't frozen it doesn't display the dots or the transparent box.

[2019-08-15 21:59] nickolanack opened #45 "Quaternion issue (android)"
I'm pretty sure that rotateBy method for android is not using quaternions correctly
should be:
[code]

[2019-08-15 22:00] nickolanack commented on #45
I'm not 100% percent sure, but will test and if I'm correct I'll PR

[2019-08-15 22:28] nickolanack commented on #45
my solution is wrong... this.android.getLocalRotation().eulerAngles() does not do what I thought.
But I still think that the original method is not correct

[2019-08-16 04:50] nickolanack commented on #45
updated android rotateBy method
[code]

[2019-08-16 05:04] nickolanack opened #47 "Support empty nodes (no renderable)"
We should support empty nodes! Empty nodes can be use to rotate/scale/move groups of renderables

[2019-08-16 05:10] nickolanack commented on #47
I think for the solar system demo it would be the ideal way to implement orbits.

[2019-08-16 16:19] #45 closed

[2019-08-16 17:48] nickolanack commented on #41
Here is my pure js solarsystem demo. it doesn't have the controls panel ~~and no materials...~~
also using empty nodes (ar.addNode) for orbits.
A bit rough, but it's a start...
[code]

[2019-08-16 18:18] #47 closed

[2019-08-16 19:58] nickolanack opened #49 "Edge case scaling issue (android)"
extremely small values for scale parameter don't work in android

[2019-08-16 19:59] nickolanack commented on #49
I assume very large values dont work as well

[2019-08-17 01:01] nickolanack commented on #41
I mixed up orbital inclination, with axial tilt...

[2019-08-19 19:32] tjvantoll commented on #34
@EddyVerbruggen I can confirm that @sylwesterdigital’s demo fails for me as well. It’s weird though because the plugin works for me in other repos, and that’s a fairly basic example, so I’m not sure what’s up.

[2019-08-19 21:07] sylwesterdigital commented on #34
I've found Vuejs based AR Kit demo app here - https://github.com/ebellumat/ar-native.git - and AR Kit plugin works now great without problems - so probably the issue was not a plugin in itself, however during running I have again the same warnings from Xcode build ```@objc public func ```.

[2019-08-19 22:23] WackyJack commented on #34
@tjvantoll @sylwesterdigital is there a solution to my problem?

[2019-08-20 04:45] nickolanack commented on #49
https://developers.google.com/ar/reference/java/sceneform/reference/com/google/ar/sceneform/ux/ScaleController#DEFAULT_MIN_SCALE

[2019-08-20 20:02] EddyVerbruggen commented on #34
Let me check this tomorrow. And thanks for those repos I'm sure that will be helpful in tracking this down.

[2019-08-20 20:25] #49 closed

[2019-08-21 08:42] EddyVerbruggen commented on #34
@sylwesterdigital @tjvantoll https://github.com/sylwesterdigital/nativescript-ar-test/pull/1

[2019-08-21 08:42] #34 closed

[2019-08-21 14:24] tjvantoll commented on #34
omg

That totally came from my article, which I’m going to update right now. I would’ve never tracked that down, so thanks so much @EddyVerbruggen!

[2019-08-28 00:15] nickolanack opened #53 "ARModel should extend ARCommonGeometryNode (support materials)"
Is there any reason not to?

[2019-08-28 16:02] EddyVerbruggen commented on #53
Go for it!

[2019-08-28 18:17] nickolanack commented on #53
Ok cool. I'll PR that shortly.

[2019-08-30 17:13] nickolanack commented on #53
#54

[2019-08-30 18:48] EddyVerbruggen commented on #41
Currently working on this, thanks for the example code!

[2019-08-30 18:52] #53 closed

[2019-08-30 19:06] EddyVerbruggen commented on #41
@nickolanack If you want to see your sample code in action then please update the repo and run `npm run demo.solarsystem.android` (not working for iOS yet)!

[2019-08-30 20:26] nickolanack commented on #41
oh nice!. I'm excited to check this out.

[2019-08-30 20:40] EddyVerbruggen commented on #41
Cool, please do! I've now added the view to control the speed of orbit and rotation when you tap the sun. ☀

[2019-08-30 20:45] nickolanack commented on #41
thats awesome! good work!

[2019-08-31 07:45] EddyVerbruggen commented on #41
Cheers! I'll try and add iOS support as well. Not sure which angle to take here.. we could simply use spheres and materials as fi. used [here](https://github.com/miliPolo/ARSolarPlaySwift), or try and find models for all these celestial bodies. If we go the sphere-route we might as well use that for Android as well so it's more x-platform-y ;)

[2019-08-31 15:57] nickolanack commented on #41
The original android models were gltf models but contain diffuse, normal map, and metallic maps as pngs - so it should be easy to just use those images with spheres (with the json material definition (like the iOS demo box)

[2019-08-31 15:59] EddyVerbruggen commented on #41
Yes, that would be perfect!

[2019-09-01 06:42] nickolanack commented on #41
#56

[2019-09-02 11:59] EddyVerbruggen commented on #41
@nickolanack It's worth updating your code and running this demo again. We're now using spheres instead of models and share the same textures on both platforms (although you have to duplicate them in the respective resource folders, but that's not a big issue imo).

There are a few annoying differences in behavior between the platforms. Perhaps you have an idea fi why the rotation controls (tap th

[2019-09-02 17:09] nickolanack commented on #41
That’s awesome

[2019-09-02 17:17] nickolanack commented on #41
I have written code to point a node at the camera I can clean it up an PR shortly (node.lookAt(camera))

[2019-09-02 19:07] nickolanack commented on #41
@EddyVerbruggen the IOS control panel is clipped for me, is that also the case for you?

[2019-09-03 05:24] nickolanack commented on #41
On android when stacking spheres, the inner sphere seems to get culled, this appears to be solvable by setting render priority on the inner sphere: (previously i adjusted the outer sphere center ie {x:0.0001,y:0,z:0} and that seemed to help but this works better:

[code]

[2019-09-03 06:16] nickolanack commented on #41
btw sun solarflares are similar to saturns rings...
![Screen Shot 2019-09-02 at 11 14 31 PM](https://user-images.githubusercontent.com/8965209/64148234-a320a880-cdd7-11e9-9d80-742e58929ca2.png)
just randomly placed planes with image

[2019-09-03 20:03] EddyVerbruggen commented on #41
@nickolanack That hint https://github.com/EddyVerbruggen/nativescript-ar/issues/41#issuecomment-527308848 seems to work pretty well for me! I've integrated it here:

https://github.com/EddyVerbruggen/nativescript-ar/blob/094f72c2a80fc1e1db14d5fc6dd059c702ef786c/src/ar.android.ts#L88-L101

[2019-09-04 10:52] EddyVerbruggen commented on #41
I'm quite happy with this as it stands, so closing. I'll clean up the models we used for the Android model approach we had at first.

[2019-09-04 10:52] #41 closed

[2019-09-04 13:43] EddyVerbruggen commented on #30
With v1.0.0 of this plugin you will, currently working on it. See #37.

[2019-09-04 13:43] #30 closed

[2019-09-04 16:44] nickolanack commented on #6
I think you should just add the model to a container node and adjust the model locally to compensate.

The models origin-y is at the center of the car (should be the ground) which causes that

[code]
 then just apply further scaling/etc on the container

[2019-09-06 07:45] EddyVerbruggen opened #62 "Add an ImageTracking demo, in NativeScript-Angular"
Try to replicate the [Android Augmented Image demo](https://github.com/google-ar/sceneform-android-sdk/tree/master/samples/augmentedimage) for iOS and Android in NativeScript.

And we need an Angular demo as well, so that seems like a good opportunity.

It would be cool to replicate something like this: https://www.youtube.com/watch?v=ZhHExAxyVow

[2019-09-06 08:27] zenslainer commented on #62
Do you have an estimation of delay for  getting the arCore AugmentedImage to be integrated?

[2019-09-06 08:38] EddyVerbruggen commented on #62
When. It's. Done.

[2019-09-06 18:47] nickolanack commented on #62
@EddyVerbruggen Have you gotten Image tracking working for IOS?

[2019-09-06 19:06] EddyVerbruggen commented on #62
@nickolanack Yeah, that's part of the plugin for a while now actually. If you want to try it, do what  [this line](https://github.com/EddyVerbruggen/nativescript-ar/blob/7e4380ebb4254a25ca6d5a091fa2c31f2eb17ebc/demo/app/main-page.xml#L20) says and run the demo app.

So change the value of `trackingMode` to `IMAGE` and check out the images mentioned. You could simply load one of those images on you

[2019-09-06 19:08] EddyVerbruggen commented on #62
Btw, I'm not religious about this demo needing to be in Angular, as long as it demonstrates the feature. Although I occasionally get asked how to use AR (or any other plugin for that matter) with Angular.

[2019-09-06 19:20] nickolanack commented on #62
I think it is a good idea to have an Angular demo - (I'm not particularly competent using vue, angular, or typescript tbh) but happy to contribute anyway.

[2019-09-06 19:22] EddyVerbruggen commented on #62
Cool! With the NativeScript CLI is really easy to create one. Just run `tns create demo-ng` in the plugin project root and follow the steps.

We need a few commands in `src/package.json` afterwards, but I've done that a million times already so don't sweat it.

[2019-09-06 19:23] nickolanack commented on #62
is it possibility to track world and images at the same time?

[2019-09-06 19:32] EddyVerbruggen commented on #62
AFAIK not, but I haven't tried/investigated it either. It depends on what can be set [here](https://github.com/EddyVerbruggen/nativescript-ar/blob/7e4380ebb4254a25ca6d5a091fa2c31f2eb17ebc/src/ar.ios.ts#L213), and I always assumed it was one of "world", "face", or "image" (look at where `this.configuration` is set).

[2019-09-06 19:34] nickolanack commented on #62
https://developer.apple.com/documentation/arkit/arimagetrackingconfiguration?language=objc
` ARWorldTrackingConfiguration can also detect images, but each configuration has its own strengths:`
looks like image tracking can work in 'world' mode... but is less performant

[2019-09-07 19:07] nickolanack commented on #62
#63 added a basic image tracking implementation for android

[2019-09-08 15:42] EddyVerbruggen commented on #62
I'll add a basic demo today. I've got a cool idea for this image tracking demo.

[2019-09-08 16:29] nickolanack commented on #62
Cool!, I’ll update android to add all images in trackingImagesBundle and PR today as well

[2019-09-08 17:03] EddyVerbruggen commented on #62
Awesome! Btw, I was looking for a tool to transform Collada models (.dae, for iOS) into and Android-compatible format and found one that seems to do the job well. I’ll add details to the readme after some more testing.

[2019-09-09 20:10] EddyVerbruggen commented on #62
Update: this will take me another day or 2 to complete. Shaping up pretty well and fixing a few issues (on iOS currently) in the process.

[2019-09-09 23:59] nickolanack commented on #62
Cool, excited to see

[2019-09-11 21:10] EddyVerbruggen commented on #62
Holy 🐄that was quite some tweakin'.

@nickolanack Whenever you have time I'd love you to check out the new Angular Pokémon image tracking demo. Make sure to __check iOS first__ as that's how it's intended to work.

Once installed via `npm run demo.pokemon.ios` you can open the menu and access two routes with AR features:

- __"Augment Card"__: Scan [this image](https://raw.githubusercontent.com/Ed

[2019-09-11 23:08] nickolanack commented on #62
Cool I’ll check this out shortly

[2019-09-12 00:25] nickolanack commented on #62
That’s freaking cool! Good work

[2019-09-12 00:28] nickolanack commented on #62
I think we just need to add a node between the image tracking anchor and user nodes that corrects the orientation/scale to match iOS - I’ll play around with it!

[2019-09-12 05:54] EddyVerbruggen commented on #62
Thanks mate! I read about that approach (adding a node in between) somewhere but didn’t try it yet. It makes sense and I hope you’re able to pull it off 😋

[2019-09-12 22:54] sylwesterdigital commented on #11
I let myself to load that animated model and it works! https://youtu.be/XjAAi_lyhQI

[2019-09-13 07:28] EddyVerbruggen commented on #11
@sylwesterdigital Haha that's so cute :)

I was searching for an animated model again today for a demo and found a spider. But I might just use that little dude instead. 👍

[2019-09-13 14:27] EddyVerbruggen commented on #62
Bar some differences in how scaling works I think we can close this now. Thanks!

[2019-09-13 14:27] #62 closed

[2019-09-13 14:30] EddyVerbruggen commented on #11
Works like a boss. Added it to the solarsystem demo. Also converted it to Android's glb format, but it looses the animation. May be fixed when using gltf insead but currently there's a bug in ARCore preventing me to use the converted model.

If you want to try the solarsystem demo, clone the repo and run `npm run demo.solarsystem.ios` from the `src` folder. The animated models have been added to J

[2019-09-13 14:30] #11 closed

[2019-09-13 19:00] nickolanack opened #66 "Android Imagetracking db (.imgdb) and image anchor scaling support"
@EddyVerbruggen
Good news...
converting a folder of images into an .imgdb is relatively easy. Android provides a cmd line tool https://developers.google.com/ar/develop/c/augmented-images/arcoreimg and its much faster to load. So i think this should be the preferred method

we can also provide the measured width of images (similar to ios) which greatly speeds up the image tracking time! (btw. we ca

[2019-09-13 19:02] nickolanack commented on #66
However it will still be possible to provide tracking assets without defined width (and likely to occur)- and in that case the scale factor becomes relevant again but I was thinking that I would remove the scaling option anyway, and instead provide the image width and height in ARTrackingImageDetectedEventData as well as addNode method which a user could use scale themselves if they wanted to...

[2019-09-13 19:10] nickolanack commented on #66
for reference here are the commands i used to build .imgdb for pokemon app
[code]

[2019-09-13 19:14] nickolanack commented on #66
Let me know if you have any thoughts on this. I'll PR .imgdb support shortly

[2019-09-16 08:08] #66 closed

[2019-09-17 17:06] nickolanack opened #69 "Gesture Event Propagation"
@EddyVerbruggen
I would like gesture events to propagate up the scene hierarchy until they reach a node that handles the gesture. Let me know if you see any issues with that? And I'll implement it.

I think the solar system example will benefit from this since atmosphere objects (ie: earth clouds sphere) could potentially block tap events set for the root object (planet)

[2019-09-17 17:43] EddyVerbruggen commented on #69
Hey Nick, indeed those clouds block the event and I’d rather have those events propagate as well!

Btw I played with your iOS scale PR and it works perfectly well, really cool! I tried fixing my own crappy pan (drag) iOS implementation as well but didn’t succeed yet. If the model you’re dragging is perfectly rotated it works well, but if it’s rotated 180 degrees on the y-axis dragging it left move

[2019-09-17 19:21] nickolanack commented on #69
Ok Great.!

Oh yes I noticed that panning behaviour as well: I believe the issue is because to x/y deltas are relative to the cameras local orientation, and should be translated into world deltas and then applied to the models world position.
does that help?

I'll play around with it

[2019-09-17 19:29] EddyVerbruggen opened #70 "Add an IKEA-like demo, but for Pokémon"
Instead of picking a chair from a catalogue and placing it in your house, we could use the Pokémon models we already have.

Simple tap a plane, pick a model and place it on the plane. Then allow the user to relocate, rotate, and scale it.

[2019-09-17 19:30] #70 closed

[2019-09-17 19:38] EddyVerbruggen commented on #69
I tried a little but couldn't make it work to a level where it was better than what I had.

I think the Android behavior is a bit better anyway because in case the model was anchored to a plane its Y-axis doesn't change so you can move a node over a surface.

The best way to see the difference I think is by running the new demo I just added (#70): it's the "Try before you buy" menu option in the P

[2019-09-17 19:43] nickolanack commented on #69
cool I'll take a look

[2019-09-19 13:06] #69 closed

[2019-09-19 15:00] nickolanack commented on #69
The only thing I’m not totally sure about, is if pinch drag rotate gestures will propagate in android

[2019-09-19 15:49] EddyVerbruggen opened #72 "Create an "augmented faces" demo"
In order to streamline implementations between iOS and Android we need a little demo that showcases this feature.

In the past, I've been playing with models of glasses/spectacles on iOS and that worked surprisingly well. I recorded 2 short videos and threw them on YT: [vid 1](https://www.youtube.com/watch?v=F9TIGzsW41E) and [vid 2](https://www.youtube.com/watch?v=027aytY9200).

The code for those

[2019-09-19 19:32] EddyVerbruggen commented on #72
Added demo-glasses, which is already fully functional on iOS and can be launched with `npm run demo.glasses.ios`.

[2019-09-19 19:40] EddyVerbruggen commented on #72
Got a PoC running on Android as well - need to tweak the implementation a little before it can be released.

[2019-09-20 13:01] EddyVerbruggen commented on #72
Pretty happy with Android as well. Although moving the glasses down a little (y-axis) doesn't seem to work, and all but the first two models seem to be transparent. The latter issue is more down to iOS -> Android model conversion issues than this plugin so I don't really mind.

[2019-09-23 20:17] EddyVerbruggen commented on #72
Hmm, iOS 13 seems to have broken something. I can detect a face and add a model, but the model (glasses) isn't showing anymore. Not quite sure what's up.

[2019-09-27 16:15] EddyVerbruggen commented on #72
Pfff took me quite some trial & error, but I found a way to make it work on iOS 13. I'll try and push a big update (especially for iOS) today.

[2019-09-27 20:45] EddyVerbruggen commented on #4
@Emanuele-Fortunati I you're still interested to contribute: please see the latest state of this repo and especially issue #37. I'm pretty close to releasing version 1.0.0 which has much much better support for Android.

[2019-09-27 20:45] #4 closed

[2019-09-27 20:45] #3 closed

[2019-09-27 20:49] EddyVerbruggen commented on #37
This is now mostly done, with many thanks to @nickolanack!

Not everything is perfect yet, but it's so much better than before. It needs more testing and maybe more demos (and certainly documentation) - I'm aiming for a 1.0.0 release somewhere next month.

[2019-09-27 20:49] #37 closed

[2019-09-27 20:51] #72 closed

[2019-09-28 14:51] Emanuele-Fortunati commented on #4
@EddyVerbruggen That's really great news: I've had a look at #37 and I'm happily impressed.
In the meanwhile, I've added to your plugin the possibility of playing Lottie's Animations, Views and multi-layers videos / animations. The code is a bit of a mess up as I had to release it on the rush, but once 1.0 is out, I'll update it with my code (a cleaner version) and if you wish I can do a PR ;)
Tha

[2019-09-29 20:20] EddyVerbruggen commented on #4
@Emanuele-Fortunati That's awesome! I would love to see a PR for any features that you have that we currently don't, or even a better implementation for stuff we already have.

I'll try and release it this week.

[2019-10-02 19:34] EddyVerbruggen opened #73 "Support image tracking during WORLD tracking (iOS)"
Currently, we require IMAGE tracking for this to work, but ARKit actually supports it during WORLD tracking as well. I think @nickolanack hinted me in another issue this is the case.

[2019-10-02 19:38] #73 closed

[2019-10-02 19:45] EddyVerbruggen commented on #73
I think in theory this is possible on Android as well, but as it's a bit more complicated (and I'm in a hurry) this is iOS-only for now.

[2019-10-04 12:50] tjvantoll opened #74 "Cannot run “try before you buy” in Pokemon demo"
### Which platform(s) does your issue occur on?

Physical iPhone X running iOS 13.1

### Please, provide the following version numbers that your issue occurs with:

CLI: 6.1.0
Other versions will be latest because this occurs in the demo app.

### Please, tell us how to recreate the issue in as much detail as possible.

I run the Pokémon demo from a fresh clone of the repo using `npm run demo.poke

[2019-10-04 13:20] EddyVerbruggen commented on #74
I'm afraid it's this one: https://stackoverflow.com/questions/57893809/is-arkit-3-people-occlusion-restrict-to-iphone-x-and-newer

So it's related to 'WORLD' tracking (and indeed that demo (and the solarsystem one)) uses that feature.

So people occlusion is not supported by your device and I didn't see it because oddly enough we don't have the same devices currently! 😘(11 Pro here). I can reprodu

[2019-10-04 13:33] EddyVerbruggen commented on #74
Should be good now (1.0.1 / update the repo)!

[2019-10-04 13:33] #74 closed

[2019-10-04 19:11] tjvantoll commented on #74
Perfect! This indeed fixed both the Pokémon and solar system demos for me 🤘

And let’s be honest, the real issue here is I somehow didn’t upgrade my phone when you did. I might need to fix that.

[2019-10-04 19:27] EddyVerbruggen commented on #74
HAHA yes, focus on the right things mate - click, click: https://www.apple.com/shop/buy-iphone/iphone-11-pro

[2019-10-11 12:40] EddyVerbruggen opened #76 "Textures with transparency look odd on Android"
If you look at the rings of Saturn in the image below, you can see the transparent part of [the image](https://github.com/EddyVerbruggen/nativescript-ar/raw/master/demo-solarsystem/app/App_Resources/Android/src/main/assets/saturn_loop.png) is actually a little opaque.

![New Project](https://user-images.githubusercontent.com/1426370/66651998-cdfee780-ec34-11e9-920c-3679a1f12d6a.jpg)

@nickolanack

[2019-10-11 16:51] nickolanack commented on #76
That might be a reflection/lighting.
I think we could add
[code]
to material factory to create an unlit material
I don't think that we want to do this in general, but I'll experiment with it...

[2019-10-11 17:01] nickolanack commented on #76
https://github.com/EddyVerbruggen/nativescript-ar/blob/4f95acdbbd044d51aaa8361bbf0db63da4c70c86/src/nodes/android/armaterialfactory.ts#L60-L89

[2019-10-12 17:06] delanick opened #77 "Failed to create AR session"
Hey @EddyVerbruggen ,

Finally got some time to try this plugin in my kitchen sink app. At first it crashed a few times as I'm using JS, not TS (I know, I need to switch over at some point) but now I'm getting the page to display, the AR component looks like it's loading but it stays dark with a hand holding a phone (which moves around a bit) and a toast message saying "Failed to create AR session

[2019-10-12 17:28] EddyVerbruggen commented on #77
Hi! Did the phone ever prompt for permission to use the camera?

Just remove the app and reinstall. That should show the permission dialog. If not then that’s a bug (which I may have already fixed but not yet released to npm).

[2019-10-12 17:49] delanick commented on #77
@EddyVerbruggen nah, I doubt it's a bug, it's something in my code that isn't working. I reinstalled, added permissions but arLoaded doesn't even execute - so I must be making a mistake, but I don't know where. I put the code in my ar-page.js file, the code-behind for the ar-page.xml file where the AR component is. I do think though that because it's an ES6 piece of code that you created, that JS

[2019-10-12 18:06] delanick commented on #77
@EddyVerbruggen Ok I've tried a gazillion different combinations and am sure it's a  me not understanding TS and ES6 properly issue. Do you have a JS example of this laying around anywhere?

[2019-10-12 18:38] EddyVerbruggen commented on #77
Not really, but I'd be happy to try and find some time to look at yours.

[2019-10-12 18:47] nickolanack commented on #77
Here is something similar to what I have used
[code]

[2019-10-12 21:32] delanick commented on #77
@EddyVerbruggen Thanks a ton, gonna try your first. Will send mine if this doesn't work :)

@nickolanack - tired your code, didn't work :( Do you have a repo I can check out?

[2019-10-12 21:43] delanick commented on #77
@EddyVerbruggen Yeah so I tried that code, didn't work... So here's my attempt at it. Don't laugh too hard now, this is a tad embarrassing :)

ar-page.js:
`const ArViewModel = require("./ar-view-model");

/* ***********************************************************
* Use the "onNavigatingTo" handler to initialize the page binding context.
*********************************************************

[2019-10-14 19:57] nickolanack commented on #77
Hi. I put my example into a demo: `demo-plainjs` and PR'd here... I changed it so that it was loading the AR element from xml like normal

[2019-10-15 16:37] Felix212 commented on #77
Hello there.
I am also trying to get the plugin running, but i also have "Failed to create AR session" when i am booting up my app.
I am using nativescript + angular.
I followed the basic instructions.
camera.component.html
[code]
camera.component.ts

[code]

[2019-10-15 18:04] EddyVerbruggen commented on #77
@Felix212 That doesn't look wrong, but did you try a few of the demos first? Instructions @ https://github.com/EddyVerbruggen/nativescript-ar#running-the-demos

[2019-10-21 09:38] Felix212 commented on #77
I updated my plugin from 1.0.1 to 1.0.2. Everything works now.

[2019-10-21 10:36] #77 closed

[2019-10-21 15:16] Felix212 opened #81 "Get current device position"
Hello i am trying get the current device position, but I can not find anything about it in the docs.
I want to calculate the distance between a node and my device.

[2019-10-21 15:43] EddyVerbruggen commented on #81
@Felix212 Good question!

It's actually not properly exposed by the plugin but it is there. Please check [this demo code](https://github.com/EddyVerbruggen/nativescript-ar/blob/7d1d013fb895fe97b4ac7197e21726bf25c2ee50/demo-solarsystem/app/components/App.vue#L376).

I'll add it to the API.

[2019-10-21 18:42] delanick commented on #77
@nickolanack You didn't link to your repo, please provide link :)

[2019-10-21 18:52] nickolanack commented on #77
its part of this repo now
[code]

[2019-10-21 20:51] delanick commented on #77
@nickolanack cool, IU got it to load the AR and use the camera, but it's not detecting planes, at all. Any advice?

[2019-10-21 21:04] nickolanack commented on #77
yes: make sure your xml contains this:
https://github.com/EddyVerbruggen/nativescript-ar/blob/6834cf25095f218fa98e57ae38b83c7f2b538cd7/demo-plainjs/app/main-page.xml#L31

[2019-10-22 15:16] EddyVerbruggen opened #82 "Animate node rotation / movement / opactity"
Currently we can animate this stuff by calling fi. the `rotateBy` function every frame, but it would be nice to tap into native AR animations provided by both platforms.

[2019-10-24 20:33] #81 closed

[2019-10-24 20:35] EddyVerbruggen opened #83 "Add a "getPositionOnScreen" function to map 3D AR World objects to x/y screen coordinates"
It would be helpful to fi. programmatically know if an object is in a certain place (x/y) on the screen. So fi. when a sphere/model is in or near the center of the screen we can consider the user looking at it.

[2019-10-24 20:37] EddyVerbruggen commented on #83
[Here's a nice demo](https://github.com/EddyVerbruggen/nativescript-ar/blob/69b5bf24903717efc5f3611b2e6f2974f6d97973/demo-solarsystem/app/components/App.vue#L454) of how this can be used.

[2019-10-24 20:41] #83 closed

[2019-10-26 04:24] nickolanack commented on #83
just out of curiosity, what happens if an object is directly behind you (and the camera)?
-- with apologies since i could check myself...

[2019-10-26 04:53] nickolanack commented on #83
Ok, I checked... items directly behind you also have onscreen x, y coordinates  (which is what I thought would happen).

[2019-10-26 06:08] nickolanack commented on #76
In the meantime, you could use a ~cylinder~ tube with innerRadius=0, and height=0 (or close to)

[2019-10-26 21:18] EddyVerbruggen commented on #83
You're right. That makes it a bit harder to do what I wanted to achieve, but I've found a satisfactory way around it. Will test on Android tomorrow a little and update the repo.

[2019-10-26 22:18] nickolanack commented on #83
Btw - There is a Dot product rule to test if an object is in front or behind

[2019-10-26 22:20] nickolanack commented on #83
Dot product of: direction vector (camera to object), and camera look direction vector

[2019-10-26 22:21] nickolanack commented on #83
It would also be cool (feature) if there was a way to expose hit testing/raytracing

[2019-10-27 09:24] EddyVerbruggen commented on #83
That sounds like a much better approach, but I need this feature for a presentation I'm doing soon so I'll stick to the half-baked solution I have now. Sounds like a great plan though, to add a `node.isInFrontOfCamera()` function to the plugin. Or maybe even something like `node.getPositionRelativeToCamera()`.

[2019-10-27 10:31] weekly-digest[bot] opened #84 "Weekly Digest (20 October, 2019 - 27 October, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #82 [Animate node rotation / movement / opacity](https://github.com/EddyVerbruggen/nativescript-ar/issues/82), by [EddyVerbruggen](https

[2019-10-28 17:10] EddyVerbruggen commented on #76
That actually works pretty well!

[2019-11-03 01:57] weekly-digest[bot] opened #85 "Weekly Digest (27 October, 2019 - 3 November, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 6 commits.
:hammer_and_wrench: [Added an image of my t-shirt to the Pokemon demo app](https://github.com

[2019-11-10 01:57] weekly-digest[bot] opened #86 "Weekly Digest (3 November, 2019 - 10 November, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 2 commits.
:hammer_and_wrench: [Let's disable iOS Dark Mode](https://github.com/EddyVerbruggen/nativescr

[2019-11-17 01:57] weekly-digest[bot] opened #87 "Weekly Digest (10 November, 2019 - 17 November, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-11-24 01:57] weekly-digest[bot] opened #88 "Weekly Digest (17 November, 2019 - 24 November, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-11-27 03:19] Eonfuzz opened #89 "How to create a line between two points"
Hey all!

I'm testing out this library and just wondering how I can draw a line between two points.
Is it create a tube, scale and rotate? Or is there a better way I could go about doing this.

[2019-11-27 19:13] Priemar opened #90 "Problem adding models"
Which platform(s) does your issue occur on?
- Android
- Version: Android 10
- Device

Im working on an angular nativescript project, where i have one page which i navigate to (router) which contains nativescript-ar. After the nativescript-ar is loaded im adding a model when the user triggers the planeTapped event. Which works fine.

When im navigating away, or simply hiding the nativescript-ar com

[2019-11-28 08:59] Priemar commented on #90
Found the problem and created a pull request.

Just wanted to add one more thing if someone came across the same problem:
When using angular with NS router, and you are navigating away from your component where the AR control is in use you have to destroy it manually.

You can achieve this by listening to the 'Page.navigatingFromEvent' and call the 'disposeNativeView' method from the AR control.

[2019-12-01 01:57] weekly-digest[bot] opened #92 "Weekly Digest (24 November, 2019 - 1 December, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 1 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #90 [Problem adding models](https://github.com/EddyVerbruggen/nativescript-ar/issues/90), by [Priemar](https://github.com/Priemar)
:gree

[2019-12-08 01:57] weekly-digest[bot] opened #93 "Weekly Digest (1 December, 2019 - 8 December, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-12-15 01:57] weekly-digest[bot] opened #94 "Weekly Digest (8 December, 2019 - 15 December, 2019)"
Here's the **Weekly Digest** for [*EddyVerbruggen/nativescript-ar*](https://github.com/EddyVerbruggen/nativescript-ar):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-12-28 22:30] nickolanack opened #95 "Android crash on back navigation while HandMotionAnimation is visible"
seems to consistently crash on a back navigation while the hand motion animation (detect a plane) is visible.

[code]

[2019-12-30 09:08] nickolanack commented on #95
I fixed the issue in my application by adding following snippet. (added in my app on page events)
[code]
I'm not sure exactly how this would be added to ar.android.ts - it needs to be executed before the page transition occurs (`disposeNativeView` happens after navigation )

[2020-01-08 17:46] Emanuele-Fortunati opened #96 "Adding a BIG UIView with addUIView makes layout unresponsive once navigating away"
### Make sure to check the demo app(s) for sample usage
Done.

### Make sure to check the existing issues in this repository
Done.

### If the demo apps cannot help and there is no issue for your problem, tell us about it

### Which platform(s) does your issue occur on?
- iOS
- iOS 13.2.3
- emulator or device. What type of device? iPhone Xr (couldn't test on other devices)

### Please, provide the

[2020-01-08 18:04] EddyVerbruggen commented on #96
Hi!

Interesting issue.

Can you share a sample app on Github which I can clone that demonstrates the issue? It could be a fork of this repo of course.

[2020-01-08 22:12] Emanuele-Fortunati commented on #96
Hi @EddyVerbruggen sure thing, I've recreated what shown above in this [Demo AR App](https://github.com/Emanuele-Fortunati/nativescript-ar-adduiview).
I've stripped out all from my original app, except the AR plugin. I've tested it on my iPhone Xr, iOS 13.2.3.

To do some extra test, you can also try:

1. using width and height 400 for the bigView and the bug should still be there, however only ha

[2020-01-10 04:54] joselevelsup opened #97 "AR crashes when trying to scan"
So I have been struggling with this for a good couple of days and I still can't get this to work. I can't even tell if my image is being detected. So I just created a new app, add the plugin, and use both example code that is provided in the docs AND my own. Everytime I get to the AR part and I scan the image, it crashes but leaves a message saying `fromUrl() is deprecated. Use ImageSource.fromUrl

[2020-01-11 00:58] nickolanack commented on #97
that `Assets.scnassets/Materials/tnsgranite/tnsgranite-diffuse.png` kind of looks like a IOS specific path
did you recreate that path inside /App_Resources/Android/src/main/assets/

[2020-01-11 19:20] nickolanack commented on #97
also I think you want to define your material like
[code]
or
[code]
depending on where that file actually is

[2020-01-11 20:18] nickolanack commented on #97
I also want to mention that not all images are good tracking images. you can run the arcoreimg tool (included in the sceneform sdk repo https://github.com/google-ar/arcore-android-sdk/tree/master/tools/arcoreimg) and test the images you want to track
[code]
Crop all the whitespace out of that image...

[code]

[2020-01-11 21:49] joselevelsup commented on #97
Thanks @nickolanack I'll take a look at this when I can. Also about the materials, I actually forgot to adjust that and use like a random one that I do not need to provide (e.g. a local material from my file).

[2020-01-11 21:50] joselevelsup commented on #97
I was just using the octocat as a test image. I'll try other images out...again when I can :smile:

[2020-01-12 22:41] joselevelsup commented on #97
So I changed up the material and even tried scanning like 3 different images but to no success. All crashed when scanning the image with the same log `fromUrl() is deprecated. Use ImageSource.fromUrl() instead`.

[2020-01-28 12:53] itzaks opened #98 "Any plans on integrating ARCore Cloud Anchors?"
Hi!

Great plugin. I'm just curious if there are any plans on implementing support for [Cloud Anchors](https://developers.google.com/ar/develop/java/cloud-anchors/overview-android) in the API?

Cheers,
I

[2020-02-22 21:20] alshap opened #99 "DataUnsupportedVersionException on recognition start"
Hello,

Got this error on image recognition starting

`
JS: Error: com.google.ar.core.exceptions.DataUnsupportedVersionException
JS:     java.lang.reflect.Constructor.newInstance0(Native Method)
JS:     java.lang.reflect.Constructor.newInstance(Constructor.java:334)
JS:     com.google.ar.core.Session.throwExceptionFromArStatus(Session.java:145)
JS:     com.google.ar.core.AugmentedImageDatabase.nat

[2020-02-24 13:57] EddyVerbruggen commented on #99
Did you Google that error? It looks like something from ARCore.

[2020-02-24 15:09] alshap commented on #99
Yes, but found only
[code]
Have no idea from where exception come. Think that it does not see my android images bundle

[2020-05-06 12:22] SteveRavalisse opened #100 "Image tracking documentation"
Hello,
Would it be possible to have a full tutorial the image tracking?
I looked on the available readme and docs but I still couldn't manage to make it work.

Thanks

[2020-05-06 17:52] EddyVerbruggen commented on #100
Docs: https://github.com/EddyVerbruggen/nativescript-ar/blob/master/docs/tracking-images.md

Demo: https://github.com/EddyVerbruggen/nativescript-ar/tree/master/demo-pokemon

Not sure what more I can do.

[2020-05-06 17:52] #100 closed

[2020-05-13 09:27] Hethix opened #101 "addVideo java.io.FileNotFoundException: video_chroma.sfb: open failed"
Hi

I wan't to view a 360 video in AR. For now I'm just trying to play a video using the .addVideo functionality that are in Nativescript-ar.
When I call the ar.addVideo I get this error.
"JS: java.util.concurrent.CompletionException: java.io.FileNotFoundException: video_chroma.sfb: open failed: ENOENT (No such file or directory)"
I've tried using both a local file and remote files.
Other function

[2020-07-21 11:34] #101 closed

[2020-07-24 13:48] Hethix opened #103 "Can't load models on IOS"
In a simple function to add a model when tapping on the plane detected, I get an error saying "Error: COLLADA files are not supported on this platform." The model is a .dae. Also tried to convert it to .usdz without luck. Tried several other files including this https://www.dropbox.com/s/u0tifsdbzwrt0e1/ARKit.zip?dl=0&file_subpath=%2FARKit which should work since I tried to import it into a new Xc

[2020-09-07 13:56] felicks opened #104 "Overlay tracked image with dynamic information"
Hello,

I'm trying to detect certain parts of a machine and want to overlay these parts with further information (colored border and specific text).
I already tried to add a UIView after detecting the image, but that's not working so far.
Is there another way to add simple text and background information to a tracked image? I found the method "addText", but that is also not working. Do you guys ha

[2020-09-07 15:41] nickolanack commented on #104
for simple text I have had success using something similar to the following
[code]

- I believe addText is not supported on android - although addUIView should work

[2020-09-14 08:30] felicks commented on #104
Thanks a lot!

[2020-09-18 13:24] felicks opened #105 "dynamic trackingImagesBundle"
Is it in some way possible to use dynamic images that are stored with firebase storage, as tracking image references? Or does it just workes with images that are stored in the App Resources folder?

[2020-09-18 13:26] #104 closed

[2020-09-18 18:09] nickolanack commented on #105
yes you can track images dynamically.  I'm assuming that firebase storage just gives you urls...
[code]

[2020-09-18 18:22] nickolanack commented on #105
oops - sorry didn't mean to close this on you...

[2020-09-21 13:53] mikkellindblom opened #106 "Is support for NS 7 on the roadmap for this package?"
As NS 7 uses a new core, the package can't compile do to missing imports eg. mainScreen. Is support for NS 7 on the roadmap for this package?

[2020-09-22 11:29] felicks commented on #105
Thanks a lot @nickolanack. Unfortunatly I get the following error:
`ERROR Error: 'trackImage' is only supported with trackingMode: IMAGE`

here is my code:
`    <AR trackingMode="IMAGE"></AR>`

[code]

[2020-09-22 12:09] felicks commented on #105
It seems that my issues occured after updating to iOS 14. Are there any issues with the plugin?

[2020-09-22 16:59] nickolanack commented on #105
I'm pretty sure that calling trackImage like: `AR.prototype.trackImage(...)` is the issue.

I think you need to capture the  arLoaded event `<AR (arLoaded)="arLoaded($event)" arLoaded></AR>`
then use event.object as your AR instance. ie `event.object.trackImage(...)'

[2020-09-23 13:11] felicks commented on #105
thanks for your help, works like a charm!
Do you know if multiple images are supported? @nickolanack

[2020-09-23 14:46] nickolanack commented on #105
Yes, you can track multiple images.

[2020-09-29 11:09] felicks commented on #105
I couldn't get it working just by using an array of URLs. What did I do wrong?

[2020-09-30 17:54] nickolanack commented on #105
you'll have to call `.trackImage` for each image. ie:
[code]

[2020-09-30 17:54] #105 closed

[2020-11-04 22:39] donmb1 opened #107 "Cannot read property 'setAttribute' of undefined"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it

### Which platform(s) does your issue occur on?
- iOS
- iOS 14
- iPhone 11

### Please, provide the following version numbers that your issue occurs with:

- CLI: 7.0.11
- Plugin(s): ´nativ

[2020-11-06 08:45] donmb1 opened #108 "TypeError: Cannot read property 'mainScreen' of undefined"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it

### Which platform(s) does your issue occur on?
- iOS

### Please, provide the following version numbers that your issue occurs with:

- CLI: 7.0.11
- Cross-platform modules: 6.1.1
- Runtim

[2020-12-31 09:16] kat-jane-eu opened #109 "Update. Will the app be updated anytime soon?"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emulator or device. What type of device?

### Please, provide the following version numbers that

[2021-02-02 09:14] Bezlepkin commented on #109
Hi! I created a fork, updated the dependencies, built a package. You can use my npm package.
https://www.npmjs.com/package/@bezlepkin/nativescript-ar

[2021-02-02 09:15] Bezlepkin commented on #107
Hi! I created a fork, updated the dependencies, built a package. You can use my npm package.
https://www.npmjs.com/package/@bezlepkin/nativescript-ar

[2021-03-08 14:06] msureshmewara opened #111 "onPlaneTapped android and iOS is not working"
Once the camera is ON I am able to see the small dots, while trying to add a car or any object on tap on the device nothing is occuring.

### Which platform(s) does your issue occur on?
- iOS/Android/Both

[2021-03-16 13:11] Doomkyn opened #112 "IMAGE tracking - OnTrackingLost"
Hello, is there a way to know when the tracking has been lost?
Right now I can add models to the view when I Track an image with ARTrackingImageDetectedEventData, but I don't know when the image has been lost, and cannot destroy the models I created.
So that lead to having multiple models in the view if I point sequentially at multiple targets.

Am I missing something?

[2021-06-29 21:58] #99 closed

[2021-07-24 13:06] IndieHobFreeDev opened #114 "Unable to get a new project with AR XML tag to run"
### Which platform(s) does your issue occur on?
- iOS on MAC running on iPhone 6S

### Please, provide the following version numbers that your issue occurs with:

- CLI: 8.0.2
- packge.json
{
  "name": "@nativescript/template-hello-world-ts",
  "main": "app/app.ts",
  "version": "8.0.6",
  "author": "NativeScript Team <oss@nativescript.org>",
  "description": "NativeScript Application",
  "license

[2021-07-24 14:06] IndieHobFreeDev commented on #114
Resolved it by updating tns core modules
and then by opening the xcode workspace and setting "Do not embed" for TNSWidgets.framework in "General tab" of the testar target.

[2021-07-24 14:06] #114 closed

[2022-01-29 05:37] wuilmerj24 opened #115 "Repo Status"
Hello. is the repo being maintained?

[2022-06-15 10:41] Bezlepkin commented on #111
When I click on view, the application crashes :(

[2022-10-21 13:44] RoanMeijer opened #116 "Nativescipt 8 support?"
Hi, i am currently working in a existing project build in nativesctipt 8 and i need to use AR to complete my internship project. I found this plugin and it seemed to be my best option. Only i noticed that the plugin is made in vativescript version 7 and it does nog seem to work in version 8. I was wondering if the plugin is going to get updated to version 8 anytime soon?